# ForgeBackup access transformer configuration

# GuiSelectWorld.buttonRename
public auo.u
# GuiSelectWorld.buttonSelect
public auo.v
# GuiSelectWorld.buttonDelete
public auo.w
# GuiSelectWorld.buttonRecreate
public auo.x
# GuiSelectWorld.worldSlotContainer
public auo.p
